body{
  background-color: #a52a2a
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.task{
  background: #8C7AAE;
  display: grid;
  grid-template-columns: 1fr auto auto
}
.deleteTask{
  visibility: hidden;
  cursor: pointer;  
}
.task:hover{
  background: indianred
}
.task:hover .deleteTask, 
.task:hover .editTask {
  visibility: visible
}
.bodyTask{
  
}
.editTask{
  visibility: hidden;
  margin-right: 10px;
  cursor: pointer;
}