body{
  background-color: #a52a2a
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.task{
  background: #8C7AAE
}
.task:hover{
  background: indianred
}


