body{
  background-color: #a52a2a
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.task{
  background: #8C7AAE
}
.deleteTask{
  float: right;
  display: none;
  cursor: pointer;  
}
.task:hover{
  background: indianred
}
.task:hover .deleteTask{
  display: inline;
}
